/* Style */

.wrapper {
  width: 60%;
  margin: 0 auto;
  background-color: #f4f7fb;
}

#container {
  margin-top: 100px;
  margin-bottom: 50px;
  border: 1px #dfe3e6 solid;
  background: #152935;
  /* box-shadow: 0 0 5px #b1b1b1; */
}

p.tagline {
  padding: 10px 20px 0;
  color: #fff;
  font-size: 1.5em;
}

#main {
  margin-top: 10px;
  padding: 10px 20px 90px;
  background-color: #fff;
}

/* IBM Cloud Doc style */
h1.doc-content {
  font-size: 1.629rem;
  font-weight: 300;
  margin-bottom: .3rem;
  color: #3d70b2;
  padding-top: 0;
  line-height: 1.3;
  vertical-align: baseline;
}

h2.doc-content {
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 300;
  color: #3d70b2;
  padding-top: 0;
  line-height: 1.3;
}

h3.doc-content {
  font-weight: 700;
  font-size: 1rem;
  margin: 1.5rem 0 0;
  color: #3d70b2;
  padding-top: 0;
  line-height: 1.3;
}

div.doc-content>p {
  font-size: .875rem;
}

p.doc-content {
  margin: .5rem 0 1rem;
  font-size: .875rem;
  color: #2d3f49;
  line-height: 1.65;
  font-weight: 400;
}

ul.doc-content {
  margin: 1rem 0 0 2em;
  list-style: none;
  font-size: .875rem;
  vertical-align: baseline;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
li.doc-content {
  color: #394b54;
  font-weight: 400;
  line-height: 1.65;
  margin: 0 0 0 1rem;
  padding-bottom: 5px;
  list-style: disc;
}

a.doc-content {
  color: #3d70b2;
  border-bottom: 1px #3d70b2 solid;
  text-decoration: none;
}

table.doc-content {
  margin: 1rem 0;
  width: 100%;
  font-size: 1em;
  line-height: 2em;
  font-weight: 200;
  border-bottom: 1px solid #e0e6eb;
  border-spacing: 0;
  border-collapse: collapse;
}

tr.doc-tr-even.doc-content {
  background-color: #f7f9fa;
}

th.doc-content {
  color: #3d70b2;
  text-align: left;
  min-width: 150px;
  font-weight: 700;
  padding: 8px 15px;
  border-bottom: 2px solid #5596e6;
  font-size: .875rem;
}

td.doc-content {
  word-break: normal;
  min-width: 100px;
  font-weight: 400;
  vertical-align: top;
  padding: 1em;
  color: #3b4b54;
  line-height: 21px;
  font-size: 100%;
}

*.doc-content {
  box-sizing: border-box;
  font-size: .875rem;
}

.summary-details {
  padding-left: 20px;
}

.pod-schedule {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1rem;
  white-space: pre-line;
  margin-top: -0.75rem;
}
